.UserLogs{
    width: 900px;
    min-height: 500px;
    background-color: white;
    box-shadow: 1px 1px 3px 1px #ccc;
    border-radius: 5px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -250px;
    margin-left: -450px;
}


.UserLogs h3{
    color: #2b86b3;
    text-align: center;
    margin-top: 15px;
}

.UserLogs .Filters{
    position: relative;
    margin-top: -45px;
    padding: 20px 30px 0px 30px;
    box-sizing: border-box;
    margin-bottom: -15px;
}

.UserLogs .Filters > div{
    margin-top: -10px;
    display:flex;
    justify-content: flex-start;
    background-color: #2b86b3;
    padding: 8px 10px;
    border-radius: 5px;
}

.UserLogs .Filters button{
    position: relative;
    padding: 5px 0;
    width:80px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 5px;
}

.UserLogs .Filters label{
    font-size: 12px;
    color: white;
    margin-right: 20px;
}

.UserLogs .Filters div:nth-child(3) div:nth-child(2) label{
    margin-left: 50px;
}

.UserLogs .Filters input{
    border:none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
}

.UserLogs .Filters input:focus{
    outline: none;
}

.UserLogs .Filters .Close{
    position: absolute;
    right: 10px;
    top: 7px;
    border-radius: 50%;
    background-color: snow;
    border: 1.1px solid red;
    height: 15px;
    width: 12px;
}

.UserLogs .Filters .Close:hover svg{
    animation: close .5s;
    cursor: pointer;
}

.UserLogs .Filters .Close:hover{
    box-shadow: 0px 0px 3px 1px #ccc;
}

@keyframes close{
    from{
        transform: scale(2) rotate(0deg);
    }
    to{
        transform: scale(2.5) rotate(180deg);
    }
}

.UserLogs .Filters .Close svg{
    transform: scale(2);
    color: red;
}

.Attendance{
    padding: 20px 30px;
}

.Attendance p{
    display: block;
}

.Attendance p span{
    padding: 5px 10px;
}

.DatePicker{
    position: relative;
    display: inline-block;
    flex-wrap: nowrap;
    z-index: 120;
}


.Attendance table{
    width: 100%;
    font-size: 13px;
}

.Attendance table thead tr th, .Attendance table tfoot tr td{
    background-color: #e6e6e6;
    padding: 10px 10px;
}

.Attendance table thead tr th span:nth-child(1), .Attendance table tbody tr td span:nth-child(1){
    margin: 0 10%;
    float: left;
}

.Attendance table thead tr th span::after{
    clear: both;
}

.Attendance table thead tr th span:nth-child(2), .Attendance table tbody tr td span:nth-child(2){
    float: right;
    margin: 0 10%;
}
.Attendance table tfoot tr td{
    background-color: #e6e6e6;
    height: 10px;
}
.Attendance table tbody tr td{
    background-color: #efefef;
    padding: 5px 10px;
    text-align: center;
}