.EmployeesDetails{
    display:flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 20px 50px 0px 50px;
}

.EmployeesDetails table{
    width: 100%;
    font-size: 13px;
}

.EmployeesDetails table thead tr th, .EmployeesDetails table tfoot tr td{
    background-color: #e6e6e6;
    padding: 10px 10px;
}

.EmployeesDetails table thead tr th span:nth-child(1), .EmployeesDetails table tbody tr td span:nth-child(1){
    margin: 0 10%;
    float: left;
}

.EmployeesDetails table thead tr th span:nth-child(2), .EmployeesDetails table tbody tr td span:nth-child(2){
    float: right;
    margin: 0 10%;
}

.EmployeesDetails table thead tr th:nth-child(1), .EmployeesDetails table thead tr th:nth-child(5), 
.EmployeesDetails table tbody tr td:nth-child(1), .EmployeesDetails table tbody tr td:nth-child(5), 
.EmployeesDetails table tfoot tr td:nth-child(1), .EmployeesDetails table tfoot tr td:nth-child(5){
    width: 10%;
    text-align: center;
}

.EmployeesDetails table tbody tr td:nth-child(2),
.EmployeesDetails table tbody tr td:nth-child(3),
.EmployeesDetails table tbody tr td:nth-child(4){
    width: 26%;
}

.EmployeesDetails table tfoot tr td button{
    background-color: #2b86b3;
    padding: 5px 0;
    width: 80%;
    border:none;
    color: white;
    border-radius: 5px;
    margin: 5px 0;
}

.EmployeesDetails table button:hover{
    background-color: #257197;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px #ccc;
}

.EmployeesDetails table tfoot tr td{
    text-align: center;
    height: 20px;
}

.EmployeesDetails table tbody tr td{
    background-color: #efefef;
    padding: 5px 10px;
}

.EmployeesDetails table tbody tr td button{
    background-color: #2b86b3;
    padding: 3px 15px;
    width: auto;
    border:none;
    color: white;
    border-radius: 5px;
}

.EmployeesDetails table tbody tr td:nth-child(2){
    color: #2b86b3;
    font-weight: bold;
    cursor: pointer;
}

.EmployeesDetails table tbody tr td{
    padding: 5px 20px;
}