.EmployeesList{
    margin-left: 67px;
    box-sizing: border-box;
}

.EmployeesList header{
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin-top: -22px;
}

.EmployeesList header p{
    line-height: 30px;
    position: relative;
    padding-right:40px;
    font-weight: bold;
    font-size: 13px;
}

.EmployeesList header span{
    position: absolute;
    right:0;
}

.FormCard{
    position: absolute;
    display: inline-block;
    background-color: white;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-top: -250px;
    margin-left: -300px;
    border-radius: 5px;
    padding: 10px 50px;
    box-shadow: 0px 0px 3px 1px #ccc;
    z-index: 100;
}

.FormCard form{
    box-sizing: border-box;
    margin-top: 10px;
    position: relative;
}

.FormCard form label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.FormCard form input{
    width: 250px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #00a1ff;
}

.FormCard form input:focus{
    outline: none;
}

.FormCard form button{
    background-color: #00a1ff;
    color: white;
    padding: 7px 40px;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
}

.FormCard form button:last-child{
    margin-left:41px;
}

.FormCard form button:focus{
    outline: none;
}

.DeleteBox{
    width: 350px;
    height: 165px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -125px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.DeleteBox button{
    margin: 10px 30px;
    padding: 5px 30px;
    background-color: #1b99e5;
    color: white;
    border: none;
    border-radius: 15px;
    border: 1px solid #1b99e5;
}

.DeleteBox button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px #ccc;
}