.AddEmployee{
    border-radius: 5px;
    padding: 10px 50px;
    padding-top: 0px;
    margin-top: -10px;
}

.AddEmployee .AddEmpButton{
    font-weight: bold;
    display: inline-block;
    background-color: white;
    box-shadow: 1px 1px 3px 1px #ccc;
    padding: 10px 15px;
    border-radius: 40px;
}

.AddEmployee .AddEmpButton:hover{
    box-shadow: 0px 0px 1px 1px #ccc;
    cursor: pointer;
}

.AddEmployee .AddEmpButton svg{
    padding-right: 5px;
}

.AddEmployee .EmpOptionsCard{
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    box-shadow: 1px 1px 2px 1px #ccc;
    margin-bottom: -20px;
}

.AddEmployee .EmpOptionsCard p{
    color: gray;
    margin-top: 0;
    font-size: 12px;
}

.AddEmployee .EmpOptionsCard button{
    border: none;
    padding:0;
    color:gray;
    background-color: white;
}

.AddEmployee .EmpOptionsCard p:hover,
.AddEmployee .EmpOptionsCard button:hover{
    color: black;
    cursor: pointer;
}

.AddEmployee .EmpOptionsCard button:focus{
    outline: none;
}