.Header{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 50px 0px 50px;
}

.Header input{
    float: right;
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.Header .Icon{
    color: gray;
    position: absolute;
    right:60px;
    top: 85px;
}

.Header input:focus{
    border: 1px solid #1b99e5;
    outline:none;
}