.Popup{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.486);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: scale .5s;
}

@keyframes scale{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}